.home-post{
    .post-profile{
        background-color: red;
        max-width: 600px;
        height: 60px;
        display: flex;
        align-items: center;
        img{
            width: 32px;
            height: 32px;
        }
        p{
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            
            color: #262626;
        }
    }
}